body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Sección Header */

section .menu{
    display: flex;
}

section .menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 1440px;
    height: 115px;
}

section .menu__logo{
    margin-right: 32px;
}

section .menu__buscar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
}

section .menu__buscar__item{
    display: flex;
    flex-direction: row;
    width: 393px;
    height: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    background-color: #f5f5f5;
    outline: none;
}

section .menu__buscar__img{
    color: #a2a2a2;
    position: relative;
    left: -8%;
}

section .menu__buscar__item::placeholder{
    width: 138px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #a2a2a2;
    opacity: 0.5;
    position: relative;
    left: 5%;
}

/* Sección Login */

section .login{
    display: flex;
}

section .login__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 480px;
    background: #e6e6e63d;
}

section .login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 423px;
    height: 291px;
    gap: 25px;
}

section .login__titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    text-align: center;
}

section .login__usuario, .login__clave{
    height: 64px;
    border-radius: 4px;
    border: none;
    background: #ffffff;
    box-shadow: 0 1px 0 #4646466c;
}

section .login__usuario::placeholder, .login__clave::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #a2a2a2;
    opacity: 0.8;
    position: relative;
    left: 1.5%;
}

section .login__btn{
    height: 62px;
    height: 51px;
    background: #2A7AEa;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

section .login__btn:hover{
    cursor: pointer;
    background-color: #67a6ff;
}

/* Sección Contacto */

section.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    height: 368px;
    gap: 90px;
    background: #EAF2FD;
}

section .contacto__logo{
    margin-left: 50px;
    padding-top: 64px;
}

section .contacto__info{
    display: flex;
    padding-top: 64px;
}

section .contacto__info__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap:  24px;
    width: 176px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

section .contacto__box{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

section .contacto__box__titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

section .contacto__box__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 560px;
    height: 154px;
}

section .contacto__form__nombre{
    height: 100px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 0 #4646466c;
}

section .contacto__form__nombre::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #a2a2a2;
    opacity: 0.8;
    position: relative;
    top: -10px;
    left: 1.5%;
}

section .contacto__form__mensaje{
    border-radius: 4px;
    border: none;
    resize: none;
    box-shadow: 0 1px 0 #4646466c;
}

section .contacto__form__mensaje::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #a2a2a2;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 1.5%;
    width: 300px;
}

section .contacto__form__btn{
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 51px;
    margin-top: 10px;
    background: #2A7AEa;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

section .contacto__form__btn:hover{
    cursor: pointer;
    background-color: #67a6ff;
}

/* Sección Footer */

section .footer{
    display: flex;
    flex-direction: column;
    height: 102px;
}

section .footer__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 32px;
    gap: 8px;
}

section .footer__info p{
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 0;
    gap: 16px;
}