body{
    margin: 0;
    padding: 0;
}

/* Sección Header */

section .menu{
    display: flex;
}

section .menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 115px;
}

section .menu__buscar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
}

section .menu__buscar__item{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    width: 393px;
    height: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    background-color: #f5f5f5;
    outline: none;
}

section .menu__buscar__img{
    color: #a2a2a2;
    position: relative;
    left: -8%;
}

section .menu__buscar__item::placeholder{
    width: 138px;
    height: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #a2a2a2;
    opacity: 0.5;
    position: relative;
    left: 5%;
}

/* Sección Producto */

section .producto{
    display: flex;
    flex-direction: row;
}

section .producto__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1136px;
    height: 403px;
    margin-left: 50px;
    gap: 16px;
}

section .producto__container .producto__img{
    width: 560px;
    height: 403px;
}

section .producto__container .producto__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
    height: 210px;
}

section .producto__info h1{
    font-weight: 500;
    font-size: 52px;
    margin-bottom: 0;
    color: #464646;
}
section .producto__info h3{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    color: #464646;
}

section ,.producto__info p{
    font-weight: 400;
    font-size: 16px;
    color: #464646;
}

/* Sección Productos Similares */

section .similares{
    display: flex;
    flex-direction: column;
}

section .similares__container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1136px;
    height: 306px;
}

/* Sección Similares Cabecera */

section .similares__cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1133px;
    height: 38px;
}

section .similares__cabecera__titulo{
    color: #464646;
    font-weight: 700;
    font-size: 32px;
}

/* Sección Galería Container */

section .galeria__container{
    display: flex;
    flex-direction: row;
    width: 1136px;
    height: 252px;
    margin-top: 20px;
    gap: 16px;
}

section .galeria__producto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section .producto__img{
    width: 176px;
    height: 174px;
}

section .producto__info{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 8px;
    list-style: none;
}

section .producto__nombre{
    color: #464646;
    font-weight: 500;
    font-size: 14px;
}

section .producto__precio{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
}

section .producto__link{
    color: #2A7AEa;
    font-weight: 700;
    font-size: 16px;
}

section .producto__link a:link, a:visited{
    text-decoration: none;
    color: #2A7AEa;
}

/* Sección Contacto */

section.contacto{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 368px;
    gap: 112px;
    background: #EAF2FD;
}

section .contacto__logo{
    margin-left: 50px;
    padding-top: 64px;
}

section .contacto__info{
    display: flex;
    padding-top: 64px;
}

section .contacto__info__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap:  24px;
    width: 176px;
    font-weight: 500;
    font-size: 16px;
}

section .contacto__box{
    display: flex;
    flex-direction: column;
    padding-top: 64px;
}

section .contacto__box__titulo{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

section .contacto__box__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 560px;
    height: 154px;
}

section .contacto__form__nombre{
    height: 100px;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 0 #4646466c;
}

section .contacto__form__nombre::placeholder{
    font-weight: 400;
    font-size: 12px;
    color: #a2a2a2;
    opacity: 0.8;
    position: relative;
    top: -10px;
    left: 1.5%;
}

section .contacto__form__mensaje{
    border-radius: 4px;
    border: none;
    resize: none;
    box-shadow: 0 1px 0 #4646466c;
}

section .contacto__form__mensaje::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #a2a2a2;
    opacity: 0.8;
    position: relative;
    top: 10px;
    left: 1.5%;
    width: 300px;
}

section .contacto__form__btn{
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 51px;
    margin-top: 10px;
    background: #2A7AEa;
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

section .contacto__form__btn:hover{
    cursor: pointer;
    background-color: #67a6ff;
}

/* Sección Footer */

section .footer{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 102px;
}

section .footer__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    gap: 8px;
}

section .footer__info p{
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 0;
    gap: 16px;
}